.card-wrapper {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
}

.card-label {
  font-size: 1em;
  font-weight: 600;
  margin: 0 0.5em 0 0;
}

.card-controls {
  display: flex;
  gap: 1em;
  margin-top: 1em;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.card-dropdown {
  padding: 0.5em;
  font-size: 1em;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.card-search {
  padding: 0.5em;
  font-size: 1em;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 200px;
}